//Add Option error
.add-option-error {

color: $off-brown;
font-style: italic;
margin: $m-size 0 0 0;
padding: 0 $m-size;
};

.add-option {
    display: flex;
    flex-direction: column;

    display: flex;
    padding: $m-size;
   
    
}
.add-option__input {
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color:white; 
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    //margin-right: $m-size;
    padding: $s-size;
    outline: none;

}
@media (min-width: 45rem){
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;

    }

}